---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About Me" description="About Me">
  <div class="container">
    <p>
      I’m Shrivathsa, a Software Engineer currently living in Bangalore, India.
      I love working with computers and I've worked on web development,
      interactive games and robotics. Outside of work, I make music on Ableton
      and play guitar. I love reading and consider myself a lifelong learner,
      and I wish I could be paid to simply read and write about the things I am
      curious about, which is nearly everything under the 4th dimensional roof
      of the universe, and maybe even beyond that.
    </p>

    <img src="me.jpeg" />
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
</style>
