---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <p>
    I’m a Software Engineer interested in web development and distributed
    systems. My current stack is React, Next.js, JavaScript/Typescript and
    Golang. I’ve previously worked on autonomy for robots using Python and ROS.
    I also built a web browser narrative game using the Pixi.js library.
  </p>
</BaseLayout>
