---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <p>
    I’m Vathsa, a Software Engineer currently living in Bangalore, India.
    Outside of work, I make music on Ableton and play guitar.
  </p>

  <p>
    Check out my writing, music, projects or learn more about me and get in
    touch. I'm currently open to work as Full Stack Engineer.
  </p>
</BaseLayout>
